<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="com.nishchay.Dev">
<!--        <property name="age" value="12"/>--> <!-- property tag used for setter injection-->
<!--        <constructor-arg name="age" value="12" />--> <!-- constructor-arg tag for constructor injection-->
<!--        <property name="laptop" ref="lap" />--> <!-- non-primitive datatype can be wired using ref-->
        <constructor-arg value="12" />
        <constructor-arg ref="lap" />
    </bean>
    <bean id="lap" class="com.nishchay.Laptop"></bean>
</beans>